.contian{

    height: 100vh;
    width: 100%;
    background-color: blue;
}
.heading{
    display: flex;
    color: #fcfcfc;
    column-gap: 43px;
    padding-left: 44px;
    padding-top: 16px;
    background-color: black;
    padding-bottom: 7px;

}
.buttonask{
    margin-left: 235px;
    background-color: white;
}
.askbut{
    height: 36px;
    width: 157px;
}
.letter1{
    font-size: 22px;
}
.letter{
    margin-left: 11px;
    padding: 2px;
}
.fad{
    height: 287px;
    text-align: center;
    background-color: white;
    padding: 12px; 
   font-size: 44px;

}
.electronic{
    height: 285px;
    width: 664px;
    background-color: aqua;
    margin-left: 400px;
    margin-top: 111px;
   
}
.row{
    position: absolute;
    top: 134px;
    right: 330px;
    width: 278px;
    height: 293px;
    border: 3px solid #73AD21;
  


}
.box{
    position: absolute;
  top: -40px;
  right: 275px;
  width: 575px;
  height: 301px;
  border: 3px solid #73AD21;
  background-image: url(../image/computer.jpg);
  background-size: cover;


}
.jelus{
    margin-top: -168px;
    margin-left: 15px;
}
.page2{
    height: 212px;
    width: 100%;
    background-color: yellow;
    margin-top: 87px;
    display: flex;
    justify-content: center;
}
.nowpage{

height: 170px;
width: 928px;
background-color: black;
margin-right: 101px;
margin-top: 32px;


}

.now{
    color: white;
    margin-left: 169px;
    margin-top: 32px;
    font-size: 35px;
    
}
.most{
    color: white;
    text-align: center;
    margin-right: 305px;
    margin-top: 15px;
    font-size: 18px;
}
.viewbut{
    float: left;
    margin-left: 700px;
    height: 45px;
    width: 145px;
    margin-top: -73px;
    color: white;
    background-color: aqua;
    border: none;
    font-size: 22px;
}
.viewbut:hover{
    color: black;
    background-color: #73AD21;
}





.learnbut
{
    height: 33px;
    width: 106px;
    margin-left: 87px;
    margin-top: 20px;
    color: white;
    background-color: black;
    border: none;
}
.learnbut:hover{
    color: aqua;
    background-color: brown;
}


.page3{
    height: 400px;
    width: 100%;
    background-image: url(../image/white1.jpg);
    background-size: cover;
    padding-left: 101px;
    padding-top: 47px;
}
h1{
    font-size: 55px;
}
.pag{
    margin-top: 18px;
    font-size: 18px;
}
.gunbox{
    height: 30px;
    width: 200px;
    display: flex;
    column-gap: 30px;
    margin-top: 12px;
    margin-right: 30px;
    margin-left: 39px;
    row-gap: 30px;
   
}
.ronbox{
    width: 100px;
    background-color: blue;

}