:root {
--primary-bg:linear-gradient(0deg, rgba(106,183,237,0.9976365546218487) 23%, rgba(70,102,210,1) 52%);


}





.container {
    width: 100%;
    background: var(--primary-bg);
    padding-top: 96px;
    padding-left: 168.625px;
    padding-right: 168.625px;
}
.banner-area {
    height: 533px;
    width: 100%;
    background-color: #FFFFFF;
}
.banner-area .header {
    height: 66px;
    width: 100%;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #eeeeee;
}
.header .logo-img {
    height: 20px;
    cursor: pointer;
}
.header .menu-bar {
    font-size: 24px;
    color: rgb(0, 0, 0);
    font-weight: 400;
    cursor: pointer;
}
.container .main-wrapper {
    height: 467px;
    width: 100%;
}
.main-wrapper .image-love {
    height: 467px;
    width: 391px;
}
.image-love .image-1 {
    height: 466px;
}
.main-wrapper .banner-content{
    height: 347px;
    width: 421px;
    padding: 70px 15px 40px 15px;
}
.main-wrapper {
    justify-content: center;
}
.banner-content .tittle-logo {
    height: 64px;
}
.banner-content .para-p {
    font-size: 17px;
    font-weight: 300;
    color: rgb(119, 119, 119);
    line-height: 25px;
    margin-top: 16px;
    margin-bottom: 30px;
    padding: 8px;
}
.banner-content .start-button {
    height: 40px;
    width: 164px;
    border: 1px solid #eee;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 500;
    color: #000;
    justify-content: center;
    column-gap: 10px;
    cursor: pointer;
}
.start-button:hover{
    background: linear-gradient(90deg, rgba(95,121,228,1) 42%, rgba(107,184,238,1) 64%);
    color: white;
    width: 180px;
}
.start-button:hover .icon-hover{
    padding-left: 10px;
    color: white;
    height: 40px;
    width: 20px;
    justify-content: center;
}
.feature-area {
    width: 100%;
    background-color: #000000;
    padding-top: 100px;
    padding-bottom: 100px;
    justify-content: center;
}
.sub-contion .box {
    height: 128px;
    width: 475px;
    margin-bottom: 25px;
    column-gap: 30px;
}
.box .num-h2 {
    font-size: 36px;
    font-weight: 100;
    color: rgb(255, 255, 255);
    line-height: 20px;

}
.box .h2-name {
    font-size: 18px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    line-height: 27px;
    margin-bottom: 15px;

}
.box .par-lorem {
    font-size: 14px;
    font-weight: 400;
    color: rgb(119, 119, 119);
    line-height: 23px;
}
.sub-contion .box-center {
    height: 173px;
    width: 415px;
    column-gap: 30px;
    margin-bottom: 25px;
    margin-left: 60px;
}
.h2-name {
    font-size: 18px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    line-height: 27px;
    margin-bottom: 15px;
}.num-h2 {
    font-size: 36px;
    font-weight: 100;
    color: rgb(255, 255, 255);
    line-height: 20px;

}   
.box-center .par-lorem{
    font-size: 14px;
    font-weight: 400;
    color: rgb(119, 119, 119);
    line-height: 23px;
    padding-right: 36px;


}
.sub-contion .last-box {
    height: 150px;
    width: 475px;
    column-gap: 30px;

}
.last-box .par-lorem {
    font-size: 15px;
    font-weight: 400;
    color: rgb(119, 119, 119);
    line-height: 23px;
    padding-right: 20px;
    
}
.feature-area .image {
    height: 500px;
    width: 389px;
    justify-content: center;
}
.service-area {
    width: 100%;
    background-color: #FFFFFF;
    padding-top: 100px;
    padding-bottom: 100px;
}
.title-bg {
    font-size: 14px;
    font-weight: 700;
    color: rgb(34, 34, 34);
    letter-spacing: 5px;
    text-align: center;
    margin-bottom: 40px;
    text-transform: uppercase;
}   
.service-area .row-text {
    height: 308px;
    width: 1011px;
    justify-content: center;
    column-gap: 20px;

}
.service-area .box-choose {
    height: 307px;
    width: 324px;
}
.service-area .box-book {
    height: 307px;
    width: 475px;

    text-align: end;
    padding-top: 26px;
}
.box-choose .box-imag {
    height: 307px;
    width: 324px;
}
.not-h2 {
    font-size: 30px;
    font-weight: 100;
    color: rgb(34, 34, 34);
    line-height: 45px;
    margin-bottom: 10px;
}
.not-h2 span {
    font-size: 30px;
    color: rgb(34, 34, 34);
    font-weight: 600;
}
.range-p {
    font-size: 14px;
    font-weight: 300;
    line-height: 23px;
    color: rgb(119, 119, 119);
    margin-bottom: 25px;
}
.box-book .more-button {
    height: 40px;
    width: 161px;
    border: 1px solid #eee;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 500;
    color: #000;
    justify-content: center;
    column-gap: 10px;
    cursor: pointer;
    color: #FFFFFF;
    background: linear-gradient(90deg, rgba(95,121,228,1) 42%, rgba(107,184,238,1) 64%);
    margin-left: auto;
}
.more-button:hover .icon-hove{
    padding-right: 10px;
    color: white;
    width: 40px;
    justify-content: center;
}
.more-button:hover {
    width: 168px;
}
.service-area .roe-box {
    height: 343px;
    width: 1011px;
    justify-content: center;
    margin-top: 12px;
    column-gap: 20px;
}
.roe-box .box-1 {
    height: 325px;
    width: 324px;

}   
.more-button {
    height: 40px;
    width: 164px;
    border: 1px solid #eee;
    color: white;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 500;
    color: #000;
    justify-content: center;
    column-gap: 10px;
    cursor: pointer;
    background: linear-gradient(90deg, rgba(95,121,228,1) 42%, rgba(107,184,238,1) 64%);
    color: #eee;
}
.image-box {
    height: 325px;
    width: 475px;
    background-image: url(../image/s2.jpgkk.webp);
    background-size: cover;
    background-repeat: no-repeat;
}
.project-area {
    height: 613px;
    width: 100%;
    background-image: url(../image/project-bg.jpg\ kk.webp);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    min-height: 160px;
    padding-top: 100px;

}
.project-area .layer{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    left: 0;
    top: 0;
    right: 0;
    height: 100%;
    width: 1011px;  
    z-index: -5;
}

.project-area .title-bg {
    font-size: 14px;
    font-weight: 700;
    color: white;
    letter-spacing: 5px;
    text-align: center;
    margin-bottom: 70px;
    text-transform: uppercase;
}
.project-area .box-img {
    height: 270px;
    width: 361px;
    background-color: aqua;
    background-image: url(../image/i1.jpg\ jj.webp);
    background-size: cover;
    background-repeat: no-repeat;

}
.project-area .letter {
    height: 270px;
    width: 476px;
    padding-top: 70px;
}
.project-area .layar-text {
    column-gap: 30px;
    justify-content: center;
}
.letter .h2-do {
    font-size: 18px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    line-height: 27px;
    margin-bottom: 22px;
    margin-left: 50px;

}
.letter .LCD-p {
    font-size: 16px;
    font-weight: 400;
    color: rgb(119, 119, 119);
    line-height: 23px;
    margin-left: 50px;

}
.owl-dot{
    height: 10px;
    width: 25px;
    border-radius: 10px;
    margin-top: 90px;
}
.owl-dot2 {
    height: 10px;
    width: 10px;
    border-radius: 10px;
    background-color: rgba(127, 127, 127, 0.5);
}
.submit-page {
    width: 100%;
    background-color: #FFFFFF;
    padding-top: 100px;
    position: relative;

    padding-bottom: 100px;
}
.submit-page .input {
    text-align: center;
}
.submit-page .input-box {
    height: 50px;
    width: 600px;
    border-radius: 30px;
    padding-left: 25px;
    font-size: 17px;
    margin-top: 30px;
    background-color: #F9F9FF;
}
.submit-page .get-input {
    height: 40px;
    width: 173px;
    background: linear-gradient(90deg, rgba(95,121,228,1) 42%, rgba(107,184,238,1) 64%);
    font-size: 14px;
    font-weight: 500;
    color: white;
    position: absolute;
    top: 194px;
    left: 628px;
    border-radius: 23px;
    cursor: pointer;

}
.input-button {
    justify-content: center;
}
.ki {
    position: absolute;
    top: 205px;
    left: 762px;
    color: white;
    font-size: 15px;
    
}
.get-input:hover {
    padding-right: 20px;
}
.send-p {
    font-size: 14px;
    font-weight: 300;
    color: rgb(0, 0, 0);
    line-height: 23px;
    margin-top: 50px;
}
.section {
    width: 100%;
    background-color: #000000;
    padding-top: 100px;
}
.section .project-box {
    height: 278px;
    width: 138px;
    padding-left: 15px;
}
.section .project {
    height: 278px;
    width: 307px;
    padding-left: 15px;
    padding-right: 15px;

}
.section .rox-project {
    justify-content: center;
    column-gap: 10px;
}
.box-title {
    font-size: 14px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-weight: 500px;
    margin-bottom: 20px;
}
.h6-name {
    font-size: 14px;
    font-weight: 400;
    color: rgb(119, 119, 119);
    margin-bottom: 9px;
    line-height: 23px;
}
.h6-name2 {
    line-height: 27px;
}
.project .social-box {
    height: 30px;
    width: 30px;
    background-color: rgb(119 119 119 / 40%);
    color: #ffffff75;
    font-size: 15px;
    justify-content: center;
}
.project .row-social {
    column-gap: 10px;
    margin-top: 25px;
}
