body{
    --primary-bg: #111111;
    --secondary-bg: #DAA520;
    --icon-color:#FFFFFF;
    --icon-header-box-backgroung-color: #2B2A2A;
    --span-color: #FFFFFF;
    --text-p-color: #FFFBF0;
    --h2-color: #FFFFFF;
    --name-span-color: rgb(255, 255, 255);
    --sub-header-text-color: hsla(0,0%,100%,.07);
    --icon-color-header:#FFFFFF;
    --kn-button-hover: #FFFFFF;



}

.dark-mode{
    --primary-bg: #FFFFFF;
    --secondary-bg: #DAA520;
    --icon-color: #FFFFFF;
    --icon-header-box-backgroung-color: rgb(238, 238, 238);
    --h2-color: #666666;
    --sub-header-text-color: #EFF0F0;
    --icon-color-header: rgb(102, 102, 102);
    --kn-button-hover:  #666666;

    --name-span-color: #666666;
    --span-color: #666666;
    --text-p-color: #FFFBF0;





}
  



  .purple-mode {
    --secondary-bg: #6957AF;

  }
  
  .red-mode {
    --secondary-bg: #F72B1C;
  }
  .blueviolet-mode {
    --secondary-bg: #8A2BE2;
  }
  .blue-mode {
    --secondary-bg: #6957AF;
  }
  .goldenrod-mode {
    --secondary-bg: #DAA520;
  }
  
  .magenta-mode {
    --secondary-bg: #EE6192;
  }
  
  .yellowgreen-mode {
    --secondary-bg: #9ACD32;
  }
  .orange-mode {
    --secondary-bg: #FA5B0F;
  }
  .green-mode {
    --secondary-bg: #72B626;
  }
  
  .yellow-mode {
    --secondary-bg: #FFB400;
  }
  
.resume-page {
    width: 100%;
    background-color: var(--primary-bg);
    display: flex;
}
.image-profile-layer {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;

}
.web-page {
    width: 100%;
    padding-right: 160px;
    position: relative;
}
.header {
    height: 100vh;
    position: fixed;
    right: 0px;
    z-index: 1;
}
.bg-accent {
    background-color: var(--secondary-bg); 
    position: fixed;
    width: 100%;
    height: 200%;
    transform: rotate(-15deg);
    top: -50%;
    left: -83%;

}
.resume-image {
    width: 34%;
    border-radius: 30px;
    position: absolute;
    left: 39px;
    top: 39px;
}
.image-profile {
    height: 357px;

}
.name-web {
    line-height: 62px;
    font-size: 51px;
    color: var(--secondary-bg);
    text-transform: uppercase;
    padding-left: 70px;


}
.name-text {
    width: 47%;
    position: relative;
    margin-top: 0px;
}
.line-t {
    position: absolute;
    height: 5px;
    background-color: var(--secondary-bg);
    width: 40px;
    top: 30px;
    left: 0px;
    border-radius: 10px;
}
.discription {
    font-size: 16px;
    color: var(--span-color);
    line-height: 35px;
    margin-bottom: 28px;
}
.kn-btn {
    height: 55px;
    width: 230px ;
    font-size: 15px;
    padding: 16px 63px 16px 35px;
    font-weight: 700;
    color: var(--kn-button-hover);
    background: none;
    border: 1px solid var(--secondary-bg);
    border-radius: 30px;
    cursor: pointer;
    position: relative;
    text-transform: uppercase;
    z-index: 0;
}
.kn-btn::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 92%;
    right: 0;
    background-color: var(--secondary-bg);
    border-radius: 30px;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
   z-index: -2;
}
.kn-btn:hover::before {
    visibility: visible;
    width: 100%;
    transition: .65s all;
    opacity: 1;
    left: 0;
}  
.icon-fa {
    height: 53px;
    width: 53px;
    background-color: var(--secondary-bg);
    border-radius: 50%;
    color: var(--icon-color);
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    position: absolute;
    top: 0px;
    right: -1px;
}
.name-web span {
    color: var(--span-color);
    font-size: 43px;
}
.theme {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    color: var(--icon-color-header);
    font-size: 20px;
    background-color: var(--icon-header-box-backgroung-color);
    font-weight: 400;
    cursor: pointer;

}
.theme:hover {
    background-color: var(--secondary-bg);
    color: var(--icon-color);

}
.menu-item {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    color: var(--icon-color-header);
    font-size: 20px;
    background-color: var(--icon-header-box-backgroung-color);
    font-weight: 400;
    cursor: pointer;
    position: relative;
    margin-bottom: 20px;
}
.icon-layer {
    height: 50px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
    color: var(--icon-color);
    position: relative;
    z-index: 0;
    margin-bottom: 20px;

}
.menu-item::before {
    content: "";
    height: 50px;
    width: auto;
    position: absolute;
    bottom: 0;
    left: 50%;
    right: 0;
    background-color: var(--secondary-bg);
    border-radius: 30px;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
    font-size: 15px;
    font-weight: 500;
    color: var(--icon-color);
    opacity: 0;
    display: flex;
    align-items: center;
    padding-left: 20px;
    text-transform: uppercase;
    z-index: -2;

}

.menu-item:hover::before {
    visibility: visible;
    width: 100%;
    transition: .65s all;
    opacity: 1;
    left: -73px;
    width: 100px;
}  

.menu-item:nth-child(1)::before {
    content: "Home";
    color: #FFFFFF;
}
.menu-item:nth-child(2)::before {
    content: "About";
    color: #FFFFFF;

}
.menu-item:nth-child(3)::before {
    content: "Portfolio";
    color: #FFFFFF;

}
.menu-item:nth-child(4)::before {
    content: "Contact";
    color: #FFFFFF;

}

.menu-item:hover:nth-child(3)::before {
    left: -113px;
    width: 141px;
}
.menu-item:hover:nth-child(4)::before {
    left: -91px;
    width: 112px;
}




























.theme-box {
    height: 105px;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 28px;
    margin-bottom: 54px;
}
.icon-header {
    height: 272px;
    width: 100%;
    display: flex;
    align-items: end;
}
.menu-item:hover {
    background-color: var(--secondary-bg);
    color: var(--icon-color);

}
.about-container {
    width: 100%;
    background-color: var(--primary-bg);
    padding-bottom: 100px;
}
.text-span {
    font-size: 110px;
    color: var(--sub-header-text-color);
    text-transform: uppercase;
    display: block;
    letter-spacing: 10px;
    line-height: 77px;
}   
.title {
    font-size: 56px;
    color: var(--h2-color);
    text-transform: uppercase;
    position: absolute;
    top: 83px;


}
.title span {
    color: var(--secondary-bg);
}
.about-header {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 80px 0px;
}
.about-h3 {
    font-size: 23px;
    color: var(--h2-color);
    line-height: 29px;
}

.intro-h4 {
    color: var(--h2-color);
    line-height: 39px;
    margin-bottom: 7px;
}
.developer-skill {
    color: var(--name-span-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
}
.line {
    border-bottom: 2px solid var(--secondary-bg);
    width: 96px;
    margin-top: 10px;
}










.about-container .row {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin: auto;
    width: 84%;
    padding-bottom: 80px;
}
.info {
    color: var(--h2-color);
    font-size: 26px;
    margin-bottom: 22px;
    line-height: 58px;
}
.name-card {
    color: var(--name-span-color);
    font-size: 15px;
    opacity: .8;
    margin-top: 20px;
}
.name-span-2 {

    color: var(--name-span-color);
    font-size: 15px;

}
.address {
    display: flex;
    column-gap: 103px;
}
.fa-download:before {
    content: "\f019";
    font-size: 20px;
}
.info-font {
    text-transform: uppercase;
    font-size: 26px;
    padding-bottom: 48px;
    margin-bottom: 0px;
}
.box-html {
    height: 137px;
    width: 223px;
    display: flex;
    justify-content: center;
    position: relative;
}
.center-box {
    height: 120px;
    width: 120px;
    background-color: var(--primary-bg);
    border-radius: 50%;
    border: 5px solid var(--secondary-bg);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: var(--h2-color);
}

.center-box::before {
    height: 30px;
    width: 30px;
    background-color: var(--primary-bg);
    content: "";
    border-radius: 50px;
    position: absolute;
    top: -10px;
    left: 82px;
}

.sub-h4 {
    font-size: 18px;
    font-weight: 400;
    color: var(--h2-color);
    text-align: center;
    margin-top: 10px;
    text-transform: uppercase;
}
.center-box2::before {
    height: 62px;
    width: 61px;
    top: -3px;
    left: 29px;
}
.center-box3::before {
    height: 110px;
    width: 61px;
    top: -14px;
    left: 23px;
    transform: rotate(14deg);
}
.center-box4::before {
    height: 139px;
    width: 38px;
    top: -20px;
    left: 47px;
    border-radius: 1px;
    transform: rotate(8deg);
}
.skills-container .row {
    display: flex;
    justify-content: space-around;
}
.Portfolio-container {
    width: 100%;
    background-color: var(--primary-bg);
}
.project-cards {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(4, 1fr);
    width: 71%;
    margin: auto;
}



.item-bo {
    height: 309px;

}
.item-box {
    height: 214px;
    background-size: cover;
    overflow: hidden;
    position: relative;
    background-image: url(../image/ppppp.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 8px;
    cursor: pointer;
}
.item-box2 {
    background-image: url(../image/always2.jpeg);
    background-position: top;

}
.item-box3 {
    background-image: url(../image/resum4.jpeg);
}
.item-box4 {
    background-image: url(../image/koic.jpeg);
    background-position: top;
}
.item-box5 {
    background-image: url(../image/xmee-4.jpeg);
}
.item-box6 {
    background-image: url(../image/xmeelogin.jpeg);
}
.item-box7 {
    background-image: url(../image/dis-3.jpeg);
}
.item-box8 {
    background-image: url(../image/join.jpeg);
}
.item-box9 {
    background-image: url(../image/grow.jpeg);
    background-position: top;

}
.item-box10 {
    background-image: url(../image/have.jpeg);
    background-position: top;

}
.item-box11 {
    background-image: url(../image/laya.jpeg);
    background-position: top;

}
.item-box12 {
    background-image: url(../image/web-sexpert.jpeg);
    background-position: top;

}
.item-box13 {
    background-image: url(../image/sidebarwebflow.jpeg);
    background-position: top;

}
.item-box14 {
    background-image: url(../image/ooooo.jpeg);
    background-position: top;

}
.item-box15 {
    background-image: url(../image/bee.jpeg);
    background-position: top;

}
.item-box17 {
    background-image: url(../image/sneat2.jpeg);
    background-position: top;

}
.item-box1 {
    background-image: url(../image/create.jpeg);
}
.item-box18 {
    background-image: url(../image/saker.jpeg);
}
.item-box20 {
    background-image: url(../image/map-1.jpeg);
    background-position: top;
}
.item-box21 {
    background-image: url(../image/dive-ll.jpeg);
    background-position: top;

}
.item-box22 {
    background-image: url(../image/konato-img.jpeg);
    background-position: top;

}
.item-box23 {
    background-image: url(../image/eclipse-phot.jpeg);
    background-position: top;

}
.item-box24 {
    background-image: url(../image/hazze-pho.jpeg);
    background-position: top;

}
.item-box25 {
    background-image: url(../image/confer-img.jpeg);
    background-position: top;

}
.item-box26 {
    background-image: url(../image/even-screen.jpeg);
    background-position: top;

}
.item-box27 {
    background-image: url(../image/login-0045.jpeg);
    background-position: top;

}
.item-box28 {
    background-image: url(../image/register-005.jpeg);
    background-position: top;

}
.item-box29 {
    background-image: url(../image/color-sing-2.jpeg);
    background-position: top;

}

.item-box30 {
    background-image: url(../image/login-v15-01.jpeg);
    background-position: top;

}


.item-box31 {
    background-image: url(../image/table-p1.jpeg);
    background-position: top;

}
.item-box32 {
    background-image: url(../image/tablebox3.jpeg);
    background-position: top;

}
.item-box33 {
    background-image: url(../image/tablecolor.jpeg);
    background-position: top;

}

.item-box34 {
    background-image: url(../image/table-tem.jpeg);
    background-position: top;

}




.layer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.246);
    overflow: hidden;
    width: 100%;
    height: 100%;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: .3s ease;
    transition: .3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.item-box:hover .layer {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    transition: .65s all;

}   
.item-bo:hover {
    -ms-transform: rotate(-10deg) scale(1.3);
    transform: rotate(-10deg) scale(1.3);
    transition: .65s all;
}
.layer .icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    font-size: 13px;
    grid-gap: 6px;
    color: #fff;
    border-radius: 4px;
    font-weight: 400;
    cursor: pointer;
    line-height: 13px;

}
.layer .icon-box i {
    font-size: 12px;
}
.layer .icon-box span {
    background: var(--secondary-bg);
    position: absolute;
    border-radius: 5px;
    margin:0;
    height: 30px;
    width: 96px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .4s;
    transition: all .4s;
  }
  .layer .icon-box span:nth-child(1) {
    box-shadow:
     -7px -7px 20px 0px #fff9,
     -4px -4px 5px 0px #fff9,
     7px 7px 20px 0px #0002,
     4px 4px 5px 0px #0001;
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    transform: rotateX(90deg);
    -webkit-transform-origin: 50% 50% -20px;
    -moz-transform-origin: 50% 50% -20px;
    transform-origin: 50% 50% -20px;
  }
  .layer .icon-box span:nth-child(2) {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: 50% 50% -20px;
    -moz-transform-origin: 50% 50% -20px;
    transform-origin: 50% 50% -20px;
  }
  .layer .icon-box:hover span:nth-child(1) {
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
  .layer .icon-box:hover span:nth-child(2) {
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
   color: transparent;
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
  }
  


.link-project {
    font-size: 12px;
    color: #FFFFFF;
    text-decoration: none;
}


.pro-title {
    font-size: 20px;
    font-weight: 600;
    color: var(--title-color);
    margin-top: 10px;
}
.row-box2 {
    margin-top: 30px;
}
.heading-h2d span {
    color: #444;
}
   
.mail-contanier {
    height: auto;
    width: 100%;
    background-color: var(--primary-bg);
    padding-bottom: 150px;
}
.mail-card {
    width: 28%;
    padding-right: 56px;
}
.input-card {
    width: 54%;
    padding-left: 20px;
   
}
.mail-contanier .row {
    display: flex;
    justify-content: center;
}
.info-title {
    text-transform: uppercase;
}
.name-card2 {
    margin-top: 0px;
}
.icon-envelope {
    color: var(--secondary-bg);
    font-size: 33px;
} 
.mail-icon {
    display: flex;
    align-items: center;
    column-gap: 16px;
    margin-top: 16px;
}
.fa-phone:before {
    content: "\f095";
    font-size: 33px;
    color: var(--secondary-bg);
}
.social-icon-box-m {
    color: var(--icon-color);
    background-color: var(--icon-header-box-backgroung-color);
    cursor: pointer;
}
.socil-icon  {
    margin-top: 16px;
    column-gap: 12px;
}
.input-name {
    height: 46px;
    width: 29%;
    border-radius: 50px;
    background-color: var(--icon-header-box-backgroung-color);
    padding: 11px 26px;
    font-size: 14px;
    font-weight: 500;
    color: var(--h2-color);
    outline: none;
}
.input-name-field {
    display: flex;
    column-gap: 37px;
    margin-bottom: 30px;
}
.massage-input {
    height: 159px;
    width: 100%;
    border-radius: 30px;
    resize: none;
}
.input-name:focus {
    border: 1px solid var(--secondary-bg);
  }

.social-icon-box-m:hover {
    background-color: var(--secondary-bg);
}

.none-page {
    display: none;
}

.none-page.active {
    display: block;
}

.menu-item.active {
    background-color: var(--secondary-bg);
    color: var(--icon-color);
}

  .color-img {
    width: 100%;
  }










#navbar {
    top: 104px;
    background-color: #FFFFFF;
    color: #111111;
    position: fixed;
    left: 0;
    height: 215px;
    width: 16%;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
    z-index: 1;
    transition: transform 0.3s ease;
    transform: translateX(-100%); /* Start off-screen */
    border-radius: 0px  5px 5px 0px;

}

#navbar.open {
    transform: translateX(0); /* Slide in */
}

#toggleButton {
    position: fixed;
    height: 50px;
    width: 50px;
    top: 210px;
    color: #536485;
    border-radius: 50%;
    box-shadow: 0 2px 3px rgba(4,4,7,.2);
    background-color: #FFFFFF;
    font-size: 22px;
    cursor: pointer;
    z-index: 1;
    transition: background-color 0.3s ease;
}





#toggleButton {
    left: 0px;
    border: 2px solid #EFF0F0;
}

#closeButton {
    top: 6px;
    display: none;
    font-size: 29px;
    position: absolute;
    right: 18px;
    color: #536485;
    cursor: pointer;
}

#navbar ul {
    list-style-type: none;
    padding: 0;
}

#navbar ul li {
    margin: 15px 0;
}

#navbar ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}
.nav-icon {
    border-bottom: 2px solid #E2E4E8;
}
.color-text {
    color: #666666;
}
@media screen and (min-width:280px) and (max-width:768px) {

    .theme-box {
        padding-right: 17px;
    }
    .image-profile-layer {
        display: block;
    }

    .icon-fa {
        height: 53px;
        width: 53px;
        right: 0px;
        font-size: 13px;

    }
    .fa-download:before {
        content: "\f019";
        font-size: 15px;
    }
    .image-profile {
        height: 473px;
    }
    .resume-image {
        height: auto;
        width: 68%;
    }

    .name-text {
        height: auto;
        width: 70%;
    }
    .name-web {
        line-height: 26px;
        font-size: 19px;
        display: inline;
        padding-left: 0px;
    }

    .name-text {
        width: 70%;
        margin-left: 53px;
    }
    .line-t{
        width: 29px;
        top: 13px;
        left: -38px;
    }
    .discription {
        font-size: 14px;
        color: var(--span-color);
        line-height: 23px;
    }
    .name-web span {
        color: var(--span-color);
        font-size: 18px;
        display: inline;

    }

    .bg-accent {
        display: none;
    }
    #navbar  {
        width: 54%;
    }

    .about-container .row {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: auto;
        width: 84%;
        padding-bottom: 80px;
        justify-items: center;
    }
    .text-span {
        font-size: 74px;
    }    


    .title {
        font-size: 43px;
        top: 93px;
        right: 115px;
    }

    .name-span-2 {
        color: var(--name-span-color);
        font-size: 9px;
        line-height: 15px;
    }
    .name-card {
        color: var(--name-span-color);
        font-size: 9px;
    }
    .margin {
        margin-bottom: 10px;
    } 

    .about-info {
        margin-top: 55px;
    }


    .title2 {
        top: 103px;
        font-size: 28px;
        left: 73px;
    }
    .text-span2 {
        font-size: 65px;
    }

    .project-cards {
        display: grid;
        grid-gap: 30px;
        grid-template-columns: repeat(2, 1fr);
        width: 74%;
    }

    .item-box {
        height: 192px;
    }

    .mail-contanier .row {
        display: block;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 70%;
        justify-items: center;
    }

    .mail-card  {
        width: 100%;
        margin-left: 36px;
    }
    .input-card {
        width: 100%;
        margin-top: 40px;
    }


    .input-name-field {
        display: block;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }

    .input-name  {
        width: 100%;
        margin-top: 25px;
    }

    .theme {
        height: 45px;
        width: 45px;
        font-size: 17px;
    }
    .web-page {
        padding-right: 71px;
    }
    .menu-item  {
        height: 45px;
        width: 45px;
        font-size: 17px;
    }


    .mail-contanier .row {
        width: 80%;
    }
    .info {
        font-size: 17px;
        line-height: 8px;
    }


    .icon-envelope {
        font-size: 18px;
    }

    .fa-phone:before {
        content: "\f095";
        font-size: 23px;

    }

    .skills-container .row {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;

    }

    .box-html {
        height: 141px;
        width: 169px;
        margin-top: 60px;
    }
    .center-box::before {
        top: 2px;
    left: 33px;
    }
    .center-box2::before {
        top: -17px;
        left: 18px;
    }

    .center-box3::before {
        top: -8px;
        left: 14px;
        width: 40px;
    }
    .center-box4::before {

        height: 125px;
        width: 29px;
        top: -13px;
        left: 24px;
        border-radius: 1px;
        transform: rotate(16deg);
    }

    .center-box  {
        font-size: 18px;
    }

    #toggleButton {
        height: 38px;
        width: 38px;
        font-size: 18px;
    }

    .layer .icon-box span {
        height: 22px;
        width: 74px;
    }

    .layer .icon-box {
        font-size: 9px;
    }

    .link-project {
        font-size: 9px;
        display: flex;
        justify-items: center;
        align-items: center;
        column-gap: 3px;
    }
    .layer .icon-box i {
        font-size: 9px;
    }


    .color-img {
        width: 100%;
    }
















}
