*, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
}
.fxb{
    display: flex;
}
.fav{
    align-items: center;
}
.jus{
    justify-content: center;
}
.fsb{
    align-items: center;
}
.tac {
    text-align: center;
}
.divider-b{
    border-bottom: 1px solid;
    width: 100%;
}
.col {
    column-gap: 3px;
}
.gab {
    column-gap: 10px;

}
.gab2 {
    column-gap: 15px;
    
}
.gab3 {
    column-gap: 25px;
    
}
.font-weight-small {
    font-weight: 500;
}
.font-weight-big {
    font-weight: 700;
}
.social-icon-box-m {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.row-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.col-m {
    column-gap: 5px;
}
.col-l {
    column-gap: 30px;
}
.col-bd {
    column-gap: 15px;
}
.mar-bd {
    margin-top: 10px;
}
.mar-l {
    margin-top: 15px;
}
.mar-m {
    margin-top: 25px;
}
.mar-xl {
    margin-top: 40px;
}
